{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<address>
    F5, Building 8, Shiling Industrial Park, Xinwei, Number32, Tongsha Road Xili Town, Nanshan District, <br />
    Shenzhen, China. P.R.C
    518055<br />
    <abbr title="Phone">Tel:</abbr>
    0086 755 33552591
    <br>
    <abbr title="Phone">Fax:</abbr>
    0086 755 26978025
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@seeedstudio.com">support@seeedstudio.com</a><br />
</address>

{% endblock %}
